[tool.poetry]
name = "bayesian-statistics"
version = "0.1.0"
description = ""
authors = ["ARUOHTA <otaru1214@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
numpy = "^1.26.4"
pandas = "^2.2.2"
tqdm = "^4.66.4"
scipy = "^1.13.0"
matplotlib = "^3.8.4"
ipykernel = "^6.29.4"
scikit-learn = "^1.4.2"
pypolyagamma = "^1.2.3"
statsmodels = "^0.14.2"
seaborn = "^0.13.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
